@font-face {
  font-family: "ena";
  src: url("./fonts/ena.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "good";
  src: url("./fonts/good.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gramond";
  src: url("./fonts/gramond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "great";
  src: url("./fonts/great.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eb";
  src: url("./fonts/eb.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "alex";
  src: url("./fonts/alex.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ebi";
  src: url("./fonts/ebitalic.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "btn";
  src: url("./fonts/glacial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.a {
  color: inherit;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.rsvp_btn {
  padding: 0; /* Remove padding since the link has it */
}